.container-wrapper {
    width: 500px;
    #outer-container-wrapper {
        label {
            color: #ccc;
        }
        textarea {
            border: solid 1px #eee;
            border-radius: 3px;
            font-size: 12px;
            padding: 1em 2em;
            height: 150px;
        }
    }
}
input[type=text] {
    border: solid 1px #eee;
    border-radius: 3px;
    font-size: 12px;
    padding: 1em 2em;
}
.blue-button {
    border: solid 2px blue;
    padding: 1rem 3rem;
    font-size: 14px;
    background: #fff;
    color: blue;
}
.blue-button:hover {
    background: blue;
    color: #fff;
}
.orange-button {
    border: solid 2px orange;
    padding: 1rem 3rem;
    font-size: 14px;
    background: #fff;
    color: orange;
}
.orange-button:hover {
    background: orange;
    color: #fff;
}
